/** COLORS
 *  $white: #F5F2EF;
 *  $peach: #CE8163;

 ** TEXT STYLES
 * lead: font: normal 32px/40px "garamond-premier-pro", "AGaramondPro-Regular",serif;
 * p: font: 18px/25px "garamond-premier-pro", "AGaramondPro-Regular",serif;
 * header: 600 14px/18px ;
 */

html {
  font-size: 18px;
}

#replenish {
  background-color: #F5F1EE;
  font: 18px/25px "garamond-premier-pro", "AGaramondPro-Regular",serif;
  color: #363a36;
}

#replenish h3,
#replenish h4,
#replenish h5 {
  margin-top: 0;
  font: 600 14px/18px "proxima-nova", sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
}

#replenish h3 {
  margin-bottom: 30px;
  padding-bottom: 6px;
  display: inline-block;
  border-bottom: 2px solid #363a36;
}

#replenish h5 {
  font-size: 11px;
}

#replenish a {
  transition: all .2s ease-in-out;
}
#replenish p {
   font: 18px/26px "garamond-premier-pro", "AGaramondPro-Regular",serif;
  margin-bottom: 2rem;

}
#replenish .lead {
  font: normal 32px/40px "garamond-premier-pro", "AGaramondPro-Regular",serif;
  color: #9DA18B;
}

#replenish strike {
  text-decoration: none;
  position: relative;
}

#replenish strike::before {
  content: '';
  width: 110%;
  background: #363a36;
  height: 2px;
  position: absolute;
  left: 0;
  top: 14px;
}
/** BUTTONS */
#replenish .btn {
  background-color: #CE8163;
  color: #F5F2EF!important;
  border-radius: 0;
  text-transform: uppercase;
  font: 600 11px/17px "proxima-nova", sans-serif;
  letter-spacing: 2px;
  padding: 12px 20px 10px;
  border: none!important;
  transition: all .2s ease-in-out;
}

#replenish .btn:hover,
#replenish .btn.btn-alt {
  background-color: #F5F2EF;
  color: #CE8163!important;
}

#replenish .btn.btn-alt:hover {
  background-color: #CE8163;
  color: #F5F2EF!important;
}

#replenish .btn.btn-lg {
   font-size: 14px;
   font-weight: 500;
   padding-left: 27px;
   padding-right: 27px;
}

.stop778,
.container-fluid.stop778 {
  max-width: 778px;
  margin-left: auto;
  margin-right: auto;
}

#replenish section {
  padding-top: 90px;
  padding-bottom: 90px;
}

#replenish .container-fluid {
  max-width: 960px;
}

@media only screen
and (max-width: 991px) {
  #replenish section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
#replenish .bg-darken {
  background-color: #Ece1d9;
}

#replenish .bg-sage {
  background-color: #C4C5BA;
}
#replenish .bg-sage-darken {
  background-color: #A9AC9B;
}

#replenish .bg-img {
  background-size: cover;
  background-repeat: no-repeat;
}

#replenish .flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

#replenish .flex-wrap.five-col {
  justify-content: center;
}

#replenish .flex-wrap .content {
  padding: 0 15px;
}

#replenish .flex-wrap.five-col .content {
  flex: 0 1 20%;
}

#replenish .flex-wrap.two-col .content {
  flex: 0 1 50%;
  padding: 0;
}

@media only screen
and (max-width: 991px) {
  #replenish .flex-wrap.five-col .content {
    flex-basis: 33.3333%;
    margin-bottom: 1rem;
  }
}

#replenish .return-nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  background: url('../img/header-bg2.png') repeat;
}
#replenish .return-link {
  display: block;
  width: 100%;
  float: left;
}

#replenish .return-link:hover {
  text-decoration: none;
}

#replenish .return-link h5 {
  padding-left: 25px;
  line-height: 52px;
  font-size: 10px;
  font-weight: normal;
  margin-bottom: 0;
  position: relative;
}

#replenish .return-link h5::before {
  content:'';
  width: 15px;
  height: 15px;
  position: absolute;
  margin-top: -1px;
  background: url('../img/icon_arrow.png') no-repeat left center;
  background-size: contain;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: all .3s ease-in-out;
}

#replenish .return-link:hover h5::before {
  left: -2px;
}




/* HERO */
.replenish-hero {
  height: 750px;
  max-height: 80vh;
  background-color: #3c453d;
  background-image: url(../img/image_hero.jpg);
  background-position: bottom center;
  background-size: cover;
  display: flex;
}

.replenish-hero .welcome {
  margin: auto;
  text-align: center;
}
.replenish-hero .logo {
  max-height: 100px;
  margin-bottom: 40px;
}

.replenish-hero .welcome h2,
.replenish-hero .welcome p {
  color: #F5F2EF;
}

.replenish-hero .welcome h2 {
  font: normal 32px/40px "garamond-premier-pro", "AGaramondPro-Regular",serif;
  margin-bottom: 20px;
}

#replenish .replenish-hero .welcome p {
  font-style: italic;
  position: relative;
  display: inline-block;
  margin-bottom: 0;
  padding-bottom: 25px;
}

.replenish-hero .welcome p:after {
  content:'';
  position: absolute;
  width: 62%;
  left: 19%;
  bottom: 0;
  height: 1px;
  background: #F5F2EF;
}

/* NAVBAR */
/*@-webkit-keyframes nav-slide {
  from {
    top: -67px;
  }
  to {
    top: 0;
  }
}

@keyframes nav-slide {
  from {
    top: -67px;
  }
  to {
    top: 0;
  }
}*/
#replenish .navbar {
  margin-bottom: 0;
  border: none;
  width: 100%;
}

#replenish .navbar.fix-me {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  animation-name: nav-slide;
  animation-duration: .5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

#replenish .navbar-header {
  display: flex;
  justify-content: center;
  padding-top: 0;
  height: 67px;
}

#replenish .navbar-brand {
  padding: 0 0 0 15px;
  height: auto;
  align-self: center;
}

#replenish .nav-logo {
  height: 22px;
}

#replenish .navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
  padding-top: 0;
}

#replenish .navbar .navbar-collapse {
  text-align: center;
  padding-top: 0;
}

.replenish-nav {
  background-color: #ECE1D9;
}

#replenish .page-nav a {
  letter-spacing: 2px;
  text-transform: uppercase;
  font: 600 10px/17px "proxima-nova", sans-serif;
  color: #363a36!important;
}

/*#replenish .page-nav a.active,
#replenish .page-nav a:hover{
  border-bottom: solid #363a36 1px;
  padding-bottom: 2px;
}*/

#replenish .nav-apply .btn {
  margin-top: 14px;
  margin-bottom: 14px;
}



#replenish .section1,
#replenish .section2,
#replenish .section3,
#replenish .section15 {
  text-align: center;
}

/* SECTION 1 */
#replenish .section1 .container-fluid{
  max-width: 770px;
}
#replenish .section1 p:last-child {
  margin-bottom: 0;
}

#replenish .section1 .lead,
#replenish .section4 .lead {
  padding-left: 50px;
  padding-right: 50px;
}

/* SECTION 2 */
#replenish .section2 h3 {
  color: #CE8163;
  border-color: #CE8163;
  margin-bottom: 1rem;
}

#replenish .section2 p {
  margin-bottom: 0;
}

/* SECTION 3 */
#replenish .section3 {
  background-color: #6b7469;
  background-image: url(../img/image_background-1.jpg);
  color: #F5F2EF;
  padding-top: 100px;
  padding-bottom: 100px;
}

@media only screen
and (max-width: 991px) {
  #replenish .section3 {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}

#replenish .section3 h4 {
  margin-bottom: 2rem;
}

#replenish .section3 p {
  font-size: 28px;
  line-height: 40px;
  margin-bottom: 0;
}

/* SECTION 4 */
#replenish .section4 h3 {
  margin-top: 18px;
}

#replenish .collage-section {
  margin-bottom: 75px;
}

/* SECTION 5 */
/*#replenish .section5 .container-fluid {
  max-width: 960px;
}*/
#replenish section.schedule {
  padding: 0;
}

#replenish section.schedule .row {
  padding: .5rem 0;
}
#replenish .section5 h4 {
  color: #CE8163;
  margin-bottom: 5px;
}
/*#replenish section.schedule h4 {
  color: #CE8163;
  margin-bottom: 5px;
}*/

#replenish section.schedule ul {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}

#replenish .section5 .right-content {
  margin-top: 2rem;
}

#replenish .section5 h4.top-margin {
  margin-top: 4rem;
}

/* SECTION 6 */
#replenish .section6 {
  padding-top: 70px;
  padding-bottom: 32px;
  color: #F5F2EF;
  background-color: #D77359;
  background-image: url('../img/image_background-2.jpg');
}
#replenish .section6 header {
  text-align: center;
}
#replenish .section6 h3 {
  border-color: #F5F2EF;
  text-align: center;
}

#replenish .section6 .flex-wrap {
  position: relative;
  margin: 45px 0;
}

#replenish .section6 .flex-wrap::after {
  content: '';
  height: 100%;
  width: 2px;
  background: #F5F2EF;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -1px;
}

#replenish .section6 .flex-wrap .content:first-child {
  text-align: center;
  padding-right: 60px;
}
#replenish .section6 .flex-wrap .content:first-child header h4 {
  margin-bottom: 0;
}
#replenish .section6 .flex-wrap .content:last-child {
  padding-left: 60px;
  align-self: center;
}
#replenish .section6 .flex-wrap .content:last-child h4 {
  /* text-align: center; */

}
#replenish .section6 .price {
  max-width: 160px;
  margin-left: auto;
  margin-right: auto;
}
#replenish .section6 .price p {
  font-size: 14px;
  line-height: 18px;
}
#replenish .section6 .included {
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
}
#replenish .section6 .included p {
  margin-bottom: 11px;
}

#replenish .section6 .included ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#replenish .section6 .included ul li {
  line-height: 1.2rem;
  margin-bottom: 15px;
}

#replenish .section6 .included ul li:last-child {
  margin-bottom: 0;
}

#replenish .section6 .foot-note {
  text-align: center;
  /*max-width: 360px;
  margin-left: auto;
  margin-right: auto;*/
}

#replenish .section6 .foot-note p {
  line-height: 22px;
  margin-bottom: 22px;
  font-style: italic;
}

#replenish .btn.btn-next {
  background-color: transparent;
  padding: 0 0 23px;
  position: relative;
  font-size: 12px;
}

#replenish .btn.btn-next::after {
  content: '';

  height: 7px;
  width: 14px;
  position: absolute;
  left: 50%;
  margin-left: -7px;
  bottom: 3px;
  background: url('../img/icon_arrow-down.png') no-repeat center center;
  background-size: contain;
  transition: all .3s ease-in-out;
}

#replenish .btn.btn-next:hover {
  color: #F5F2EF!important;
  background-color: transparent;
}

#replenish .btn.btn-next:hover::after {
  bottom: 0;
}

/* SECTION 7/8/9 */
#replenish .section7 {
  color: #363a36;
}
#replenish .room-info .intro {
  margin-bottom: 45px;
}
#replenish .room-info .intro h4 {
  margin-bottom: 0;
}

#replenish .room-info .intro header p {
  margin-bottom: 1.25rem;
}

#replenish .room-info figure {
  margin-bottom: 2rem;
}

#replenish figcaption {
  font-style: italic;
  font-size: 14px;
  margin-top: 8px;
}

/* SECTION 10 */
#replenish .section10 {
  color: #363a36;
}

#replenish .table {
  margin-bottom: 40px;
}

#replenish .table-bordered,
#replenish .table-bordered > thead > tr > th,
#replenish .table-bordered > tbody > tr > th,
#replenish .table-bordered > tfoot > tr > th,
#replenish .table-bordered > thead > tr > td,
#replenish .table-bordered > tbody > tr > td,
#replenish .table-bordered > tfoot > tr > td  {
  border-width: 2px;
  border-color: #748276;
}

#replenish .table > thead > tr > th,
#replenish .table > tbody > tr > th,
#replenish .table > tfoot > tr > th,
#replenish .table > thead > tr > td,
#replenish .table > tbody > tr > td,
#replenish .table > tfoot > tr > td,
#replenish .table > thead > tr > th:first-child {
  vertical-align: middle;
}
#replenish .table td,
#replenish .table th {
  text-align: center;

}

#replenish .table th {
  background-color: #E3C7BB;
  padding: 12px;
}

#replenish .table td {
  background-color: #f1e8e3;
  padding: 20px;
  font-size: 16px;
}

#replenish .table th:first-child,
#replenish .table td:first-child {
  background-color: transparent;
}

#replenish .table th:last-child {
  background-color: #BCBDAE;
}

#replenish .table td:last-child {
  background-color: #E9E7E2;
}

#replenish .table span,
#replenish .table em {
  display: block;
}
#replenish .table .head,
#replenish .table .sub {
  line-height: 18px;
  font-family: "proxima-nova", sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
}
#replenish .table .head {
  font-weight: 600;
  font-size: 14px;
}

#replenish .table .sub {
  font-size: 13px;
  font-weight: 300;
}

#replenish .table em {
  font-size: 14px;
  margin-top: 6px;
  font-weight: normal;
}

/* SECTION 11 */
#replenish .section11 {
  background-color: #979480;
  background-image: url('../img/image_background-3.jpg');
  background-position: bottom center;
}
#replenish .section11 .content {
  background-color: rgba(245,242,239,0.85);
  padding: 50px;
  text-align: center;
}

#replenish .section11 h4 {
  margin-bottom: 3px;
}

#replenish .section11 p {
  line-height: 22px;
  margin-bottom: 33px;
}

#replenish .section11 p .small {
  font-size: 15px;
  line-height: 18px;
}

#replenish .section11 .lead {
  color: #363a36;
}

#replenish .divider {
  position: relative;
  height: 2px;
  margin-top: 40px;
  margin-bottom: 40px;
}

#replenish .divider::before {
  content: '';
  width: 48px;
  height: 100%;
  background-color: #363a36;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -24px;
}

#replenish .section11 h5 {
  margin-bottom: 30px;
}
/* SECTION 12 */
#replenish .section12 {
  padding-top: 150px;
  background-color: #adb09d;
  background-image: url('../img/image_background-4.jpg');
  color: #f5f2ef;
}

#replenish .section12 blockquote {
  padding: 0;
  margin: 0;
  border-left: none;

  text-align: center;
}

#replenish .section12 blockquote footer {
  color: #f5f2ef;
  margin-top: 85px;
  position:relative;
  padding-top: 22px;
  text-align: center;
  font: 500 14px/18px "proxima-nova", sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 50px;
}

#replenish .section12 blockquote footer::before {
  content: '';
  width: 74px;
  height: 2px;
  background: rgba(253, 251, 250,.8);
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -37px;
}

#replenish .slick-slider {
  padding: 0 120px;
}

#replenish .slick-slider .slick-arrow {
  position: absolute;
  top: 60px;
  border: none;
  width: 40px;
  height: 40px;
  background-color: transparent;
}

#replenish .slick-slider .slick-arrow:focus {
  outline: none;
}

#replenish .slick-slider .slick-arrow.slick-prev {
  left: 0;
}

#replenish .slick-slider .slick-arrow.slick-next {
  right: 0;
}

#replenish .slick-slider .slick-arrow::before {
  content: '';
  width: 14px;
  height: 26px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -13px;
  margin-left: -7px;
  background-repeat: no-repeat;
  background-size: contain;
  transition: all .2s ease-in-out;
}

#replenish .slick-slider .slick-arrow.slick-prev::before {
  background-image: url('../img/icon_arrow-paginate-left.png');
}

#replenish .slick-slider .slick-arrow.slick-next::before {
  background-image: url('../img/icon_arrow-paginate-right.png');
}

#replenish .slick-slider .slick-arrow.slick-prev:hover::before {
  margin-left: -9px;
}

#replenish .slick-slider .slick-arrow.slick-next:hover::before {
  margin-left: -5px;
}
#replenish .slick-slider .slick-dots {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

#replenish .slick-slider .slick-dots li {
  margin: 0 5px;
  height: 12px;
}

#replenish .slick-slider .slick-dots button{
  background-color: rgba(253, 251, 250,0.7);
  border: none;
  color: transparent;
  text-indent: -999999px;
  overflow: hidden;
  height: 12px;
  width: 10px;
  border-radius: 50%;
  transition: all .2s ease-in-out;
}
#replenish .slick-slider .slick-dots button:hover,
#replenish .slick-slider .slick-dots button:active,
#replenish .slick-slider .slick-dots .slick-active button {
  background-color: #FDFBFA;
}
/* SECTION 13 */
#replenish .section13 figcaption {
  padding: 0 2.5rem 0 3rem;
  line-height: 17px;
}

#replenish .section13 h3 {
  margin-top: 30px;
}

#replenish .section13 p a {
  text-decoration: none;

  font-style: italic;
  position: relative;
}

#replenish .section13 p a::before {
  content: '';
  height: 2px;
  width: 100%;
  background: #9DA18B;
  position: absolute;
  bottom: 3px;
  left: 0;
}

#replenish .section13 p a:hover {
  text-decoration: none;
}

/* SECTION 14 */
#replenish .section14 header {
  text-align: center;
  margin-bottom: 65px;
}

#replenish .section14 header h3 {
  margin-bottom: 0;
}

#replenish .section14 h4 {
  color: #D77359;
  margin-bottom: 3px;
}

#replenish .section14 p {
  font-size: 14px;
  line-height: 19px;
  margin-bottom: 30px;
  letter-spacing: 1px;
}

#replenish .section14 p a {
  font-style: italic;
  text-decoration: underline;
  color: #D77359!important;
}

#replenish .section14 p a:hover {
  text-decoration: none;
}
/* SECTION 15 */
#replenish .section15 {
  background-color: #c88a70;
  background-image: url('../img/image_background-5.jpg');
}
#replenish .section15 .container-fluid{
  max-width: 750px;
}

#replenish .section15 p {
  font-size: 26px;
  line-height: 32px;
  color: #F5F2EF;
}
/* FOOTER */
#replenish .footer {
  position: relative;
  background-color: #9197a0;
  background-image: url('../img/image_background-6.jpg');
  background-position: center;
  text-align: center;
  padding: 120px 0 20px;
}
#replenish .footer .return-link h5 {
  color: #b8b0ac;
  line-height: 25px;
  text-align: left;
}
#replenish .footer .return-nav {
  top: auto;
  bottom: 0;
  text-align: left;
  background: #8f9284;
}

#replenish .footer p {
  font: normal 32px/44px "garamond-premier-pro", "AGaramondPro-Regular",serif;

  color: #F5F2EF;
  margin-bottom: 0;
}

#replenish .footer .btn {
  margin-top: 130px;
}
#replenish .footer hr {
  margin-top: 120px;
  margin-bottom: 40px;
  border-top: 1px solid #F5F2EF;
}

#replenish .footer .logo {
  max-width: 165px;
}


#replenish .social {
  margin: 0;
  padding: 0;
  list-style-type: none;

  display: flex;
  justify-content: flex-end;
}

#replenish .social li {
  line-height: 52px;

  padding: 0 15px;
}